<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>标题</title>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular/angular-route.js"></script>
    <script src="/libs/router/router.js"></script>
    <script src="/libs/ctrl/IndexCtrl.js"></script>

</head>
<body>
    <div ng-view></div>
</body>
</html>