{% extends "layout/css-header.twig" %}
{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                {#<div class="box-header">#}
                    {#<h3 class="box-title">Input masks</h3>#}
                {#</div>#}
                <form method="post" onsubmit="return form_submit();">
                    <div class="box-body">
                    <!-- Date dd/mm/yyyy -->
                    <div class="form-group">
                        <label>原密码:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-check-circle-o"></i>
                            </div>
                            <input  type="password" required class="form-control" name="origin">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <!-- phone mask -->
                    <div class="form-group">
                        <label>新密码:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" required  class="form-control" name="newPwd">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <!-- phone mask -->
                    <div class="form-group">
                        <label>确认密码:</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" required class="form-control"  name="repeatPwd">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->

                    <div class="form-group">

                        <div class="input-group" style="width:100%;">

                            <button type="submit" class="btn btn-group btn-block btn-success">
                                修改密码
                            </button>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <!-- /.box-body -->
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
{% endblock %}

{% block myJs %}
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/plugins/layer-v2.4/layer/layer.js"></script>
<script src="/dist/js/manager.js"></script>
{% endblock %}

