<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在跳转中...</title>
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/layer-v2.4/layer/layer.js"></script>
</head>
<body>
<script>
    layer.alert('{{ msg }}',{btn:"快速跳转"}, function () {
        top.window.location.href = '/{{ uri }}';
    });

    setTimeout(function () {
        top.window.location.href = '/{{ uri }}';
    },'{{ time }}')
</script>
</body>
</html>