<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}{% endblock %}
        - My Webpage
    </title>


</head>
<body>
<div id="content">
    {% block content %}
        fqwf
    {% endblock %}
</div>

<div id="footer">
    {% block footer %}

        &copy; Copyright 2015, All rights reserved.

    {% endblock %}
</div>
</body>
</html>